$border-radius:    3px
$border-radius-lg: 3px
$border-radius-sm: 3px


// hamburgers burger menu item

$hamburger-layer-width         : 30px
$hamburger-layer-height        : 3px
$hamburger-layer-spacing       : 4px
