main-nav.container
  main-entries
    button.hamburger.mobile-toggle(type="button")
      span.hamburger-box
        span.hamburger-inner
      
    a(href="#").link kursplan
    a(href="#").link preise
    a(href="#").link kontakt
    
  secondary-entries
    a(href="#").btn.btn-outline-primary ANUSARA&reg; Ausbildung
    a(href="#").btn.btn-primary login
