main-nav.container
  main-entries
    a(href="#").link kursplan
    a(href="#").link preise
    a(href="#").link kontakt
    
  secondary-entries
    a(href="#").btn.btn-outline-primary anusara&reg; ausbildung
    a(href="#").btn.btn-primary login
