extends layouts/base

block content
  header.container-fluid
    include components/main-nav
    
    hero-teaser(background="/images/_julia-schlenkert-yoga-unterricht-anusara.jpg")  
      //- h1.clipped the happy place
      picture.main-logo
        source(srcset="/images/happy-yoga-main.svg" type="image/svg+xml")
        img(src="/images/happy-yoga-main.png" alt="")


  main.container-fluid
    //- ...
