<!DOCTYPE html>
html
  head
    title happyyoga
    meta(charset="UTF-8")
    link(rel="stylesheet" href=assetManifest.ref("/styles/core.css"))
  body
    header.container-fluid
      hero-teaser
        | fubar
    main.container-fluid
      
