extends layouts/base
include mixins/contentful
include mixins/course-overview
include mixins/price-categories

block content
  header.container-fluid
    include partials/main-nav
    
    hero-teaser(style="background-image: url(/images/_julia-schlenkert-yoga-unterricht-anusara_bw.jpg)")  
      .layer-bg(style="background-image: url(/images/_julia-schlenkert-yoga-unterricht-anusara_lowc.jpg)")
      picture.main-logo
        source(srcset="/images/happy-yoga-main.svg" type="image/svg+xml")
        img(src="/images/happy-yoga-main.png" alt="")


  main.container-fluid
    each contentArea in page.contentAreas
      if cr.contentTypeExistsIn(contentArea, 'contentArea', 'courseOverview', 'priceCategories') 
        +#{cr.contentTypeId(contentArea)}(contentArea)
