image-wall
  .wall-content-wrapper
    padding: 2rem
    position: relative
    top: 50%
    transform: translateY(-50%)


  .wall-image
    background-size: cover
    background-position: center center
    background-repeat:  no-repeat
    min-height: 15rem


  +media-breakpoint-up(md)
    .wall-content-wrapper
      padding: 5rem

    .wall-image
      min-height: 30rem


  +media-breakpoint-down(md)
    +make-container(0)
    +make-row(0)

    .wall-content-wrapper, .wall-image
      +make-col(12)


  +media-breakpoint-up(lg)
    +make-container(0)
    +make-row(0)

    .wall-content, .wall-image
      +make-col(6)

    .wall-content
      min-height: 45rem
