main-nav
  position: absolute
  top: 0
  left: 0
  background-color: transparent
  +make-row
  +make-container
  padding-top: 1rem
  z-index: 1
  transition: top .5s ease

  main-entries, secondary-entries
    +media-breakpoint-between(lg, xl)
      +make-col-ready

  main-entries
    a,a.link
      display: none

    +media-breakpoint-between(xs, m)
      +make-col(4)

    +media-breakpoint-between(lg, xl)
      .mobile-toggle
        display: none

      +make-col(6)
      a,a.link
        display: inline-block
        margin-left: 1rem

  &.is-active
    main-entries
      +media-breakpoint-between(xs, m)
        a, a.link
          display: block
      +media-breakpoint-between(lg, xl)
        a, a.link
          display: inline-block
          margin-left: 1rem

  secondary-entries
    text-align: right
    +make-col(8)

    +media-breakpoint-between(lg, xl)
      +make-col(5)
      +make-col-offset(1)

    a
      margin-left: 1rem


  a
    color: #000
    // padding: .3rem .5rem

  a.link
    display: inline-block
    text-transform: uppercase

    +media-breakpoint-between(lg, xl)
      position: relative
      top: 50%
      left: 0
      transform: translateY(-65%)

  button.mobile-toggle
    position: relative
    top: 50%
    left: 0
    transform: translateY(-65%)

main-nav.prepare
  position: fixed
  top: -200%

main-nav.announce
  position: fixed
  padding-bottom: 1rem
  background-color: #fff
  transition: prop time
  transition: top .5s ease
  top: 0%
  transform: translateY(-100%)
  border-bottom: 5px solid $primary

  button.mobile-toggle
    display: none

main-nav.announce.is-active
  transition: transform .5s ease
  transform: translateY(0)

main-nav.announce.de-announce
  top: -100%

main-nav.prepare-reset
  top: -100%

main-nav.prepare-reset
  top: 0

main-nav
  .activation-toggle
    color: black
    position: absolute
    top: 100%
    left: 0rem
    padding: 1.2rem 1rem 1rem 1rem
    background-color: #fff
    border: none
    outline: none
    text-align: center

    border-bottom: 5px solid $primary

    &:hover
      opacity: 1 !important
