//- mixin price(price, monthly, variant, note)
//-   .price
//-     p
//-       if variant
//-         span.variant-info oder
//-       span.currency €
//-       = price
//-       if monthly
//-         span.monthly je Monat
//-       if note
//-         span.note= note
//- 
//- mixin price-option(option, monthly)
//-   price-option(class=option.highlight ? "highlight" : "")
//-     h4= option.title
//-     if option.price
//-       +price(option.price, monthly)
//- 
//-     if option.priceVariants
//-       each variant, index in option.priceVariants
//-         price-variant(class=variant.note ? "has-note" : "")
//-           +price(variant.price, monthly, (index > 0), variant.note)
//- 
//- mixin price-category(category)
//-   price-category
//-     header
//-       h3= category.title
//-       p= category.subTitle
//-       div.opening-hint
//-     ul  
//-       each option in category.priceOptions
//-         li
//-           +price-option(option, option.monthly)
//- 

mixin price-categories(categories)
  //- price-categories
  //-   ul
  //-     each category in categories
  //-       li
  //-         +price-category(category)        
  //- 
  //- 
